<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>Real Estate Likes</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js" type="text/javascript"></script>

    <link href="/css/Content/Office.css" rel="stylesheet" type="text/css" />
    <script src="https://appsforoffice.microsoft.com/lib/1.1/hosted/office.js" type="text/javascript"></script>
	<script src="/Scripts/lightning.out.js" type="text/javascript"></script>
	<script src="/Scripts/force.oauth.js" type="text/javascript"></script>
	<script src="/Scripts/App.js" type="text/javascript"></script>

    <link href="/css/AppRead/App.css" rel="stylesheet" type="text/css" />
    <script src="/js/AppRead/App.js" type="text/javascript"></script>

    <link href="/css/AppRead/Home/Home.css" rel="stylesheet" type="text/css" />
    <script src="/js/AppRead/Home/Home.js" type="text/javascript"></script>
</head>
<body>
    <!-- Page content -->
    <div id="content-main">
		<div id="lightning"></div>
    </div>
    <div id="content-footer">
        <div class="padding">
            <a target="_blank" onclick="app.clearLogin();" style="cursor: pointer;" >
                Reset Login Credentials...
            </a>
        </div>
    </div>
</body>
</html>